[submodule "frontend"]
	path = frontend
	url = https://github.com/einstein-john/fitlocka-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/einstein-john/fitloka-backend.git
